<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style1.css">
</head>

<body>
    <form action="" method="POST">
        <div class="container">
            <center>
                <h1> Text Summarizer</h1>
            </center>
            <hr>
            Paste your text below:
            <textarea cols="80" rows="10" placeholder="Current Address" value="address" required>
</textarea>
            <button type="submit" class="registerbtn" name="summarize">Summarize</button>
        </div>
    </form>
</body>

</html>