<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style2.css">
    <title>Posts</title>
</head>
<center>
    <h1>Posts</h1>
</center>

<body>
    <div class="container">
        <div>
            <div class="box">
                <img src="../static/cat.jpg">
            </div>
        </div>
        <div>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.What I find remarkable
                is that this text has been the industry's standard dummy text ever since some
                printer in the 1500s took a galley of type and scrambled it to make a type
                specimen book.
            </p>
        </div>
    </div>
    <div class="container">
        <div>
            <div class="box">
                <img src="../static/cat.jpg">
            </div>
        </div>
        <div>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged.What I find remarkable
                is that this text has been the industry's standard dummy text ever since some
                printer in the 1500s took a galley of type and scrambled it to make a type
                specimen book.
            </p>
        </div>
    </div>
</body>

</html>