body{
    font-family: Arial, sans-serif;
    padding: 0 3%;

    }
.container {  
     padding: 13px; 
     background-color: white; 
     margin-top: -1em; 
     margin-bottom: 2em;
     margin-left: 11em;
     margin-right: 11em;
     padding-left: 2em;
    } 
p{
    line-height: 1.4em;
    width: 500px;
    margin-left: 175px;
    margin-top: 1em;
 }

img{
  display: block;
  margin-left: 175px;
  margin-top: -18px;
}
/**net and previous button**/
